.task {
  margin: 0 auto;
  max-width: 738px;
  display: flex;
  justify-content: space-between;
  background: var(--gray-500);
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 12px;
  align-items: center;
}

.task input[type="checkbox"] {
  border-radius: .5rem;
  background: var(--dark-purple);
  color: var(--gray-100);
  cursor: pointer;
}